*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#loginSection{
    display: flex;
    > section{
        width: 50%;
        height: 100vh;
    }
    .loginSection{
        background-color: #134544;
        > nav{
            h1{
                font-size: 50px;
                text-align: center;
                margin-top: 100px;
                color: orange;
                margin-bottom: 30px;
            }
        }
    }
    .loginsection{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 70px;
        background-color: orange;
        > h1{
            font-family: Arial, Helvetica, sans-serif;
            font-size: 30px;
            margin-bottom: 30px;
            color: #134544;
        }
        form{
            > nav{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                > label{
                    display: inline-block;
                    font-family: Arial, Helvetica, sans-serif;
                    margin-bottom: 5px;
                    color: #134544;
                }
                > input{
                    height: 50px;
                    border: none;
                    padding: 10px;
                    width: 80%;
                    outline: none;
                    border-radius: 5px;
                    background-color: #134544;
                    color: white;
                }
                > button{
                    background-color: #134544;
                    width: 80%;
                    color: white;
                    height: 50px;
                    border-radius: 8px;
                    border: 2px solid transparent;
                    transition: all 1s;
                    &:hover{
                        background-color: orange;
                        border: 2px solid #134544;
                        color: #134544;
                        font-weight: bold;
                    }
                }
            }
            + p{
                font-size: 14px;
                font-family: Arial, Helvetica, sans-serif;
                > span{
                    color: blue;
                    cursor: pointer;
                    &:hover{
                        text-decoration: underline;
                    }
                }
                + p{
                    margin-top: 60px;
                }
            }
            
        }
    }
}
@media screen and (max-width: 890px){
    #loginSection{
        > section{
            width: 100%;
        }
        .loginSection{
            display: none;
        }
    }
}